<div class="row-fluid">
  <div class="col-sm-12" id="comments">
    <blockquote>
      <p><%= comment.body %></p>
      <footer>t('comments.created'): <%= comment.created_at.strftime('%d/%m/%Y') %>
        <span><%= link_to t('comments.delete'), [comment.organization, comment],
                          method: :delete,
                          data: { confirm: t('messages.confirm') },
                          class: 'btn btn-default' %>
        </span>
        <span class="reply">
            <%= link_to t('comments.reply'),
                    new_organization_comment_path(@organization.id, :parent_id => comment),
                    class: 'btn btn-default',
                    id: "add_comment#{comment.id}", remote: true %>
        </span>
      </footer>
    </blockquote>
  </div>
</div>