<div class="row-fluid">
  <div class="col-sm-12">
    <b>Коммент:</b>
    <%= comment.body %>
  </div>
  <div class="col-sm-12">
    <% if current_user %>
        <%= link_to 'Удалить комментарий', [comment.organization, comment],
                    method: :delete,
                    data: { confirm: 'Вы уверены?' },
                    class: 'btn btn-default' %>
    <% end %>
  </div>
</div>