<%= form_for([@organization, @organization.comments.build], html: {class: 'form-horizontal new_comment'}) do |f| %>
    <div class="row-fluid">
      <div class="form-group">
        <%= f.label 'Текст', for: 'inputText', class: 'col-sm-1 control-label' %>
        <div class="col-sm-11">
          <%= f.text_area :body, class: 'form-control', id: 'inputText', placeholder: 'Ваш комментарий' %>
        </div>
      </div>
      <div class="actions">
        <div class="col-sm-offset-1 col-sm-11">
          <%= f.submit 'Добавить', class: 'btn btn-default' %>
        </div>
      </div>
    </div>
<% end %>