<!-- Intro -->
<section id="intro" class="intro">
  <div class="container text-vertical-center">
    <div class="row-fluid">
      <div class="col-lg-12">
        <h1><%= t('pages.intro_title') %></h1>
        <h3><%= t('pages.intro_body') %></h3>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-12 text-center">
        <h2><%= t('pages.about_title') %></h2>
        <p class="lead">Большинству из нас время от времени приходится бывать в
          различных инстанциях и госучреждениях. Те из нас, кто делает это чаще,
          обычно хорошо знают что и где находится, время работы и так далее, но те,
          кто редко там бывает, вынуждены полагаться на свою интуицию и советы
          знакомых! Так вот, основное предназначение этого сайта - облегчить
          поиск такой необходимой нам информации! Конечно, собрать все данные
          бывает очень и очень непросто, да и в распорядке работы самого госучреждения
          могут быть изменения, даже адрес может поменяться! Поэтому пользователи сайта
          могут комментировать работу любого учреждения, добавляя ценную информацию
          о каких-либо изменениях или возможных неточностях отображаемой информации!
          Может быть, этот список нужно расширить, можно и об этом написать, и мы
          постараемся принять во внимание конструктивную критику! И, конечно же,
          можно писать о качестве обслуживания в соответствующих госучреждениях
          и, если нас облужили плохо, пусть им будет стыдно! А можно сделать уж совсем
          немыслимое для нашего менталитета и, когда нас хорошо, компетентно обслужили,
          написать что-то хорошее и похвалить профессионалов своего дела, работающих
          на своих местах! Давайте вместе попробуем сделать жизнь нашего любимого
          города лучше!
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Map -->
<div class="container">
  <div class="row-fluid">
    <div class="col-lg-12">
      <%= render 'organizations/gmap_home' %>
    </div>
  </div>
</div>
