<!-- Intro -->
<section id="intro" class="intro">
  <div class="container text-vertical-center">
    <div class="row-fluid">
      <div class="col-lg-12">
        <h1>Государственные организации г.Черкассы</h1>
        <h3>Добро пожаловать на сайт, на котором Вы найдете максимум информации о гос.учреждениях города Черкассы!</h3>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-12 text-center">
        <h2>Немного о проекте!</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet
          pretium augue, sit amet vehicula lacus. Nunc eu finibus velit. Nam non gravida mauris.
          Praesent at risus vitae est porta efficitur. Nulla a tellus eros. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam sapien odio,
          malesuada vitae eleifend id, porta a turpis.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Map -->
<div class="container">
  <div class="row-fluid">
    <div class="col-lg-12">
      <section id="map-canvas" class="map"></section>

      <script>

          var map;

          function initialize() {
              var mapOptions = {
                  zoom: 14,
                  center: new google.maps.LatLng(49.431133, 32.04923),
                  mapTypeId: 'roadmap'
              };
              map = new google.maps.Map(document.getElementById('map-canvas'),
                      mapOptions);

              <% @organizations.each do |organization| %>
                var organizationLatLng = new google.maps.LatLng(<%= organization.latitude %>, <%= organization.longitude %>);


              var infowindow = new google.maps.InfoWindow({
                  content: '<%= organization.title %>'
              });

                var marker = new google.maps.Marker({
                   position: organizationLatLng,
                   map: map,
                   title: '<%= organization.title %>'
                });

              var defaultImage = new google.maps.MarkerImage(
                      "http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                      new google.maps.Size(71, 71),
                      new google.maps.Point(0, 0),
                      new google.maps.Point(17, 34),
                      new google.maps.Size(35, 35));
              marker.setIcon(defaultImage);

              <% end %>

              google.maps.event.addListener(marker, 'click', function() {
                  infowindow.open(map, marker);
              });

          }

          google.maps.event.addDomListener(window, 'load', initialize);

      </script>
    </div>
  </div>
</div>
