<% if page.current? %>
  <li class='active'>
    <%= content_tag :a, page, remote: remote, rel: (page.next? ? t('views.pagination.next') : (page.prev? ? t('views.pagination.previous') : nil)) %>
  </li>
<% else %>
  <li>
    <%= link_to page, url, remote: remote, rel: (page.next? ? t('views.pagination.next') : (page.prev? ? t('views.pagination.previous') : nil)) %>
  </li>
<% end %>
