@import "bootstrap";

@font-face {
  font-family: 'Riesling';
  src:url('riesling.eot');
  src:url('riesling.eot?#iefix') format('embedded-opentype'),
  url('riesling.svg#icomoon') format('svg'),
  url('riesling.woff') format('woff'),
  url('riesling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#live-search-form{
  position: relative;
  #live-search-results{
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    h4 {
      padding-left: 5px;
      width: 400px;
      small {
        &:hover {
          color: #000066;
        }
      }
    }
  }
}
.current {
  padding-top: 16px;
  color: #ffffff;
}
.branding {
  font-family: Riesling;
}
