<section id="map-canvas" class="map"></section>

<script>

    var map;
    var prev_infowindow =false;

    function initialize() {
        var isDraggable = $(document).width() > 480 ? true : false;
        var mapOptions = {
            scrollwheel: false,
            draggable: isDraggable,
            zoom: 14,
            center: new google.maps.LatLng(49.431133, 32.04923),
            mapTypeId: 'roadmap'
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

        <% @organizations.each do |organization| %>
        var organizationLatLng = new google.maps.LatLng(<%= organization.latitude %>, <%= organization.longitude %>);

        var infowindow = new google.maps.InfoWindow({content: contentString});
        var contentString = '<%= link_to organization.title, organization_path(organization) %>';

        var marker = new google.maps.Marker({
            position: organizationLatLng,
            map: map,
            title: '<%= organization.title %>'
        });

        var defaultImage = new google.maps.MarkerImage(
                "http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                new google.maps.Size(71, 71),
                new google.maps.Point(0, 0),
                new google.maps.Point(17, 34),
                new google.maps.Size(35, 35));
        marker.setIcon(defaultImage);

        google.maps.event.addListener(marker, 'click', getInfoCallback(map, contentString));

        <% end %>


    }
    function getInfoCallback(map, content) {
        var infowindow = new google.maps.InfoWindow({content: content});
        return function() {
            if (prev_infowindow) {
                prev_infowindow.close();
            }
            prev_infowindow = infowindow;
            infowindow.setContent(content);
            infowindow.open(map, this);
        };
    }

    google.maps.event.addDomListener(window, 'page:load', initialize);

</script>