<% content_for(:page_title) {t('organizations.index_title')} %>

<%= render @organizations %>

<div class="col-xs-12 text-center"><%= paginate @organizations %></div>

<div class="row">
  <div class="col-xs-12">
    <% if current_user && current_user.admin? %>
        <%= link_to t('organizations.submit'), new_organization_path, class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
