<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1 class="text-center">Список организаций</h1>

<%= render @organizations %>

<div class="col-sm-12 text-center"><%= paginate @organizations %></div>

<div class="row-fluid">
  <div class="col-sm-12">
    <%= link_to 'Добавить организацию', new_organization_path, class: 'btn btn-default' %>
  </div>
</div>
