<% if params[:search].present? %>
  <% @organizations.each do |organization| %>
    <%= link_to organization do %>
       <h4><small><%= organization.title %></small></h4>
    <% end %>
  <% end %>
<% end %>